# Создайте файл .env из копии этого файла в корне проекта и замените значения переменных реальными данными

# API key для https://api.apilayer.com/exchangerates_data:
API_KEY_1=your_api_key_here
# API key для https://marketstack.com/:
API_KEY_2=your_api_key_here

